@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-poppins: Poppins, sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}